In [11]:
import pandas as pd
import os

In [12]:
queries_type = []
queries_truth = []
APs = []
for file in os.listdir('retrieval_query_results'):
    df = pd.read_csv('retrieval_query_results/' + file)
    truth = list(df['label'])

    true = 0
    precision = 0
    for index in range(len(truth)): #len(truth)
        if truth[index] == 1:
            true = true + 1
            precision = precision + true/(index+1)
    queries_type.append(file[11:-11])
    queries_truth.append(sum(truth))
    APs.append(precision/sum(truth))

In [13]:
df = pd.DataFrame(data={"queries_type": queries_type, "queries_truth": queries_truth, "APs": APs})
df

        queries_type  queries_truth       APs
0          all_souls             78  0.046159
1          all_souls             78  0.117472
2          all_souls             78  0.154864
3          ashmolean             25  0.100716
4          ashmolean             25  0.123651
5          ashmolean             25  0.015482
6          ashmolean             25  0.318425
7          ashmolean             25  0.151902
8            balliol             12  0.124853
9            balliol             12  0.219143
10           balliol             12  0.106455
11           balliol             12  0.064339
12          bodleian             24  0.131793
13          bodleian             24  0.166879
14          bodleian            221  0.347327
15          bodleian             24  0.297346
16          bodleian             24  0.203383
17     christ_church             78  0.265373
18     christ_church             78  0.276103
19     christ_church             78  0.262203
20        cornmarket              9  0.167327
21        cornmarket              9  0.481142
22        cornmarket              9  0.299126
23        cornmarket              9  0.357945
24          hertford             54  0.413994
25          hertford             54  0.256885
26          hertford             54  0.305648
27             keble              7  0.817976
28             keble              7  0.688613
29             keble              7  0.636098
30             keble              7  0.533219
31             keble              7  0.208339
32          magdalen             54  0.026894
33          magdalen             54  0.067042
34          magdalen             54  0.033299
35            oxford             54  0.419993
36            oxford              9  0.141978
37            oxford             54  0.032125
38            oxford             54  0.506709
39            oxford             12  0.111255
40            oxford             24  0.025281
41            oxford             78  0.275745
42            oxford             78  0.281833
43            oxford            221  0.722932
44            oxford             78  0.147552
45            oxford             54  0.042843
46            oxford             78  0.172953
47       pitt_rivers              6  0.395052
48       pitt_rivers              6  0.190813
49       pitt_rivers              6  0.398002
50       pitt_rivers              6  0.429623
51       pitt_rivers              6  0.372528
52  radcliffe_camera            221  0.867550
53  radcliffe_camera            221  0.719564
54  radcliffe_camera            221  0.738523

In [14]:
queries_type_set = list(set(queries_type))
queries_type_set

['ashmolean',
 'balliol',
 'pitt_rivers',
 'bodleian',
 'hertford',
 'keble',
 'magdalen',
 'radcliffe_camera',
 'all_souls',
 'christ_church',
 'cornmarket',
 'oxford']

In [15]:
AP = 0
for i in queries_type_set:
    lst = list(df[df['queries_type']==i]['APs'])
    print(i + ': ' + str(sum(lst)/len(lst)))
    AP = AP + sum(lst)/len(lst)

ashmolean: 0.1420351182252966
balliol: 0.12869753824428196
pitt_rivers: 0.357203642479837
bodleian: 0.2293456432418662
hertford: 0.3255089554202134
keble: 0.5768488176097422
magdalen: 0.04241135816571743
radcliffe_camera: 0.7752123930054111
all_souls: 0.1061649825540553
christ_church: 0.2678930870415342
cornmarket: 0.3263850796508138
oxford: 0.24009985305765735

In [18]:
mAP = AP/len(queries_type_set)
print(mAP)

0.2931505390580355